<nav class="navbar navbar-expand-lg navbar-light text-white bg-dark w-100 mb-4">
  <a class="navbar-brand" href="#">NEXOS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-white">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home <span class="sr-only"> (Lista mercancia) </span></a>
      </li>
    </ul>

  </div>
</nav>