<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha Ingreso</th>
        <th scope="col">Accion </th>
        <th scope="col">Accion </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let merca of mercancia">
        <th scope="row">{{merca.id}}</th>
        <td>{{merca.nombre}}</td>
        <td>{{merca.cantidad}}</td>
        <td>{{merca.fechaIngreso |date}}</td>
        <td class=""><a (click)="editarMercancia(merca)" class="btn btn-primary">Editar</a></td>
        <td class=""><a (click)="eliminarMercancia(merca)" class="btn btn-danger">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
  <a routerLink="guardarMercancia" class="btn btn-success">
    Nuevo Mercancia
  </a>
</div>
