<div class="container">
  <div class="text-center mt-5">
    <h1>Compañia Nexos Automotriz</h1>
    <h2>{{tipo ? "Actualizar mercancia" : "Registro de mercancia"}}</h2>
  </div>
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form id="contact-form" role="form" [formGroup]="frmRegistro" (ngSubmit)="save()">
              <div class="controls">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_name" *ngIf="tipo">ID *</label>
                      <input formControlName="id" id="id" *ngIf="tipo" name="id" [disabled]="tipo" type="text" name="id"
                        class="form-control" placeholder="Ingresa el id de la mercancia *" required="required"
                        data-error="mercancia is required." />
                      <span *ngIf="validateInputs('id', 'required')">
                        {{ "El id es requerida" }}
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_need">Nombre *</label>
                      <input formControlName="nombre" id="nombre" type="text" name="nombre" class="form-control"
                        placeholder="Please enter your email *" required="required" data-error="nombre is required." />
                      <span *ngIf="validateInputs('nombre', 'required')">
                        {{ "El tipo identificacion es requerida" }}
                      </span>
                      <span *ngIf="validateInputs('nombre', 'minlength')">
                        {{ "Los nombres son muy cortos" }}
                      </span>
                      <span *ngIf="validateInputs('nombre', 'maxlength')">
                        {{ "Los nombres son muy largos" }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_email">Cantidad *</label>
                      <input formControlName="cantidad" id="cantidad" type="number" name="cantidad" class="form-control"
                        placeholder="Please enter your email *" required="required"
                        data-error="cantidad is required." />
                      <span *ngIf="validateInputs('cantidad', 'required')">
                        {{ "Los nombres son requeridos" }}
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_name">Fecha de ingreso *</label>
                      <input formControlName="fechaIngreso" id="fechaIngreso" type="date" name="fechaIngreso"
                        class="form-control" placeholder="Ingresa tu fecha de nacimiento *" required="required"
                        data-error="Firstname is required." />
                      <span *ngIf="validateInputs('fechaIngreso', 'required')">
                        {{ "La fecha es requerida" }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <button [disabled]="valor == 0" type="submit" class="btn btn-primary">{{tipo ?
                  "Editar mercancia" :
                  "Nuevo mercancia"}}</button>
                <a class="btn btn-danger" routerLink="/">Volver</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h5>Ingrese tu nombre de usuario</h5>
      <h6>Seleccione la opcion antes de crear o editar</h6>
      <select [value]="usuario[0]" name="usuario" id="" class="selector p-2" (change)="onInputChange($event)">
        <option *ngFor="let user of usuario" value="{{user.id}}">{{user.nombre}}</option>
      </select>
    </div>
  </div>
</div>

<!-- <ng-template #buscador>
  <app-mercancia (state)="cambio($event)"></app-mercancia>
</ng-template> -->